body{
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background: #212529;
}

.container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox{
  width: 80%;
  height: 65%;
  background: #FFF;
  margin: 40px auto;
  overflow: scroll;
  padding: 20px 40px;
  border-radius: 8px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 2px white solid;
  padding: 10px 20px;
  margin: 20px auto;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .textbox{
      font-size: 40px;
    }

    h1{
      font-size: 70px;
    }

    a{
      font-size: 50px;
      width: 50%;
      margin: 40px auto;
      text-align: center;
    }
}
