body{
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background: #242423;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

img{
  width: 60%;
  margin: 20px auto;
  border-radius: 8px;
}

a{
  width: 150px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border: 2px white solid;
  padding: 10px 20px;
  margin: 20px auto;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .container{
      width: 100%;
    }

    a{
      font-size: 50px;
      width: 50%;
      margin: 40px auto;
    }
}
